body {
}

.motherhood-picture{
    background-image: url("https://e3.365dm.com/19/03/2048x1152/skynews-first-time-mums-motherhood_4593714.jpg");
    background-position: center;
    height: 500px;
   background-repeat: no-repeat;
   position: relative;
   background-size: auto;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: end;
}
h1{
    font-family: cursive;
    font-size: 30px;
    color: rgb(34, 10, 108);
    text-align: end;
    
}
.our-work{
    text-align: center;
    background-color: cadetblue;
    font-size: 30px;
    margin: 0;
    padding: 20px;
}


.caption {
    padding: 0.8rem;
    text-align: center;
  }
  img {
    display: block;
    width: 100%;
  }
  body {
    margin: 0;
    height: auto;
  }